/* * { 
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/
body {
  background-image: url("https://cdn.msisurfaces.com/images/colornames/coffee-brown-granite.jpg");
}

.container {
  display:flex;
  justify-content: center;
  
}

.item {
display: flex ;
  height: 100px;
flex-direction:column-reverse;
color:  #e8909c;
font-size: larger;
}

.item + .item {
  margin-left: 10%;

  
}
 .logo {
  width: 300px;
  height: 450px;
} 
.Arabica {
  width: 150px;
  height: auto;
}
markus e 1000 gubbe